, .peg, .wheelSVG {
 visibility: hidden;
}
.wheelContainer, body, html {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}
.centerCircle, .valueContainer, .wheelOutline, .wheelText {
 pointer-events: none;
}
.toast, .wheelContainer, body, html {
 text-align: center;
}
.wheelContainer{
 transform: translate(-50%, 0);
}
.toast {
 position: absolute;
 background-color: #E81D62;
}
body {
 background-color: #2d2d2d;
 background-image: url(../media/bg.jpg);
 -webkit-background-size: cover;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 50% 50%;
 overflow: hidden;
}
body, html {
 margin: 0;
 padding: 0;
}
.navbar-brand{
  font-size: 1rem;
  width: 100px;
  margin-right: 0;
}

.navbar-brand img {
  position: absolute;
  width: 110px;
  left: 10px;
  top: 7px;
}
.mute{
  background-color: #2980B9;
}

.muted{
  background-color: #6c757d
}

.mute img{
  width: 16px;
  height: 16px;
}
.wheelContainer {
 position: absolute;
 max-width: 900px;
 margin-left: auto;
 top:5px;
 margin-right: auto;
 left: 50%;
 max-height: 72%;
}
.wheelSVG {
 position: absolute;
 overflow: visible;
 width: 100%;
 height: auto; 
}
.wheelText {
 text-anchor: middle;
 font-family: 'Fjalla One', Arial, sans-serif;
 -webkit-user-select: none;
 user-select: none;
}
.toast {
 border-radius: 12px;
 opacity: 0;
}
.toast p {
 clear: both;
 font-family: 'Fjalla One', Arial, sand-serif;
 margin: 23px;
 font-size: 30px;
 color: #ededed;
 letter-spacing: 0;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 line-height: 32px;
 -webkit-transition: line-height .2s ease;
 transition: line-height .2s ease;
}
button {
 /*left:50%;*/
 /*width: 80%;*/
 top: 20px;
 /*max-width: 400px;*/
 padding: 10px 20px;
 font-weight: 700;
 font-size: 28px;
 color: #ededed;
 border-radius: 6px;
 border: none;
 cursor: pointer;
 font-family: "Fjalla One", Helvetica, Arial, sans-serif;
}

.footer{
  color: #f1f1f1;
  font-family:'Fjalla One', Arial, sand-serif;
  bottom: 0;
  height: 150px;
}

.wheelArea{
  height: 47vh;
}

.stakearea{
  text-align: left !important;
}

.stakearea label{
  color: #fff;
  text-align: left;
}

.modal-footer{
  flex-wrap: wrap;
  justify-content: center;
}

#login_result, #reg_result, #Dep_result, #withdraw_result, #reset_result, #newpass_result{
  display: block;
  width: 100%;
  margin-top: 10px;
}

.demo{
    position: absolute;
    top: 10%;
    font-size: 20px;
    display: none;
    visibility: hidden;
    left: 74%;
    opacity: .7;
    transform: rotate(45deg);
    color: #8a7878;
    font-weight: bold;
    z-index: 1;
}

.demo.show{
   display: block;
   visibility: visible;
}


.spinBtn{
  background-color: #E81D62;
}

.oddContainer label{
  margin-left: 4px;
}

.form-control{
  display: inline-block;
}

.oddBtn span {
    text-align:center;
    padding:15px 22px;
    font-size: 22px;
    display:block;
    border: 2px solid #d0bd0d80;
}

.oddBtn input {
    position:absolute;
    left:-9990px;
}

.modal-content{
  text-align: left;
}

.oddContainer input:checked + span {
    /*background-color:#911;*/
    background-image: url(../media/coin.png);
    background-repeat: no-repeat;
    -ms-background-position: 50% 50% ;
    background-position: 50% 50% ;
    color:#fff;
}
/*
 .form-control{
  width: 50%;
 }*/

.bg-orange{
 background-color: #E67E22;
}
.bg-navy{
background-color: #2C3E50;
}
.bg-cyan{
 background-color: #2980B9;
}
.bg-pupple{
 background-color: #8E44AD;
}

.modal-header{
  background-color: #dee2e6;
}

.account-details .nav-item{
  color: #fff;
}

.account-details .nav-item > a{
 color: #95a5a6
}
/**
 * Form Validation Errors
 */
.error {
  border-color: red;
}

.error-message {
  color: red;
  font-style: italic;
  margin-bottom: 1em;
}

@media only screen and (max-width: 480px) {
 .toast p, .toast span {
  font-size: 18px;
  line-height: 18px;
 }

 .oddBtn span {
    padding:10px 18px;
    font-size: 18px;
}
.account-details .nav-item{
  font-size: 14px;
}

 .oddContainer input:checked + span{
  -webkit-background-size: cover;
  background-size: 32px 32px;
 }


}
@media only screen and (min-width: 481px) and (max-width: 760px) {
 .toast p, .toast span {
  font-size: 30px;
  line-height: 38px;
 }

 .wheelSVG{
  width: 80%;
 }
 
 .wheelArea{
  height: 60vh;
 }

/*.footer{
  height: 260px;
 }*/
}
@media only screen and (min-width: 761px) {
 .toast p, .toast span {
  font-size: 58px;
  line-height: 60px;
 }

 body{
  background-position: 100% 0;
 }

.wheelSVG{
  width: 100%;
 }

 .form-control{
  width: 50%;
 }

 .navbar-brand{
  width: 200px;
 }

 .navbar-brand img {
  width: 210px;
}

 .footer{
  background-color: #fff;
  padding-top: 2em;
  position: relative;
  height: calc(100vh - 120px);
}

.stakearea label{
  color: #333;
  padding-top: 1em;
}
.oddContainer{
  margin-top: 1em;
  margin-bottom: 1em;
}
.spinBtn{
  margin-top: 1em;
}

.misc{
  background-color: #333;
  text-align: center;
}

.misc .nav-link{
  color: #2980b9;
}

}

@media only screen and (min-width: 900px) and (max-height: 750px) {
/*  .wheelSVG {
    width: 70%;
}*/
}

@media only screen and (max-height: 480px) {

 .toast p, .toast span {
  font-size: 33px;
  line-height: 35px;
 }
 button {
  font-size: 22px;
  padding: 10px;
  width: 40%;
 }
 .wheelContainer {
  top: 70px;
 }

 .footer{
  position: absolute;
  bottom: 0;
  height: 120px;
  left: 0;
  color: #f1f1f1;
  width: 100%;
  font-family:'Fjalla One', Arial, sand-serif;
}

}

button:focus {
 outline: 0;
}

/*@media only screen and (max-height: 760px) {
 .wheelSVG{
  width: 70%;
 }
}*/



/*login and register modals*/

